@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    
}

.container {
    width: 30%;
    height: 60vh; 
    margin-left: 50%;
    display: auto;
    

}

.form-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin-left: 5%;
    margin-top: 50px;

}

.form-image img {
    width: 100em;
    height: 26em;
}

.form {
    width: 30%;
    height: 75%;
    margin-right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#CA1C2A;
    padding: 9rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color:#114778;
    margin: 0 auto;
    position: absolute;
    border-radius: 15px;
}



.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input-box input:hover {
    background-color:white;
}

.input-box input:focus-visible {
    outline: 1px solid#00008B;
}

.input-box label {
    font: size 0.75rem;
    font-weight: 600;
    color: white;
}

.input-box input::placeholder {
    color: black;
}

.continue-button button {
    width: 100%;
    margin-top: 50px;
    border: none;
    background-color: #114778;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.continue-button button:hover {
    background-color: #004AAD;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}

.cadastro{
text-align: center;
display: block;
padding: 20px;

}


.error {
    color: black;
    font-size: 14px;
    margin: 0;
}

.errorH {
    display: none;
}



#icon{
    transform: translatex(00%);
    background: url('img/olho.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer; 
}

#icon.hide{
    background: url('img/olhofechado.png');
    background-size: cover;

}




@media screen and (max-width: 1100px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media  screen and (max-width: 1100px) {
    .container {
        width: 100%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;

    }
}
.form-header {
    margin-bottom: 3rem;
    display: flex;
    
}
.login-button {
    display: flex;
    align-items: center;
}

